# --- Interface Web (Substituiu o Flask) ---
Eel

# --- Automação e RPA ---
pyautogui
keyboard

# --- Banco de Dados (BPA HMPCF) ---
firebirdsql

# --- Processamento e Análise de Dados (BI) ---
pandas
seaborn
openpyxl

# --- Integração Google (Nuvem) ---
gspread
google-auth

# --- Visualização e Relatórios (BI) ---
matplotlib
weasyprint

# --- Build do Instalador ---
pyinstaller

