# --- Interface Web ---
Flask

# --- Processamento e Análise de Dados (BI) ---
pandas
seaborn
openpyxl

# --- Integração Google (Nuvem) ---
gspread
google-auth

# --- Automação e RPA ---
pyautogui

# --- Gestão de Ambiente ---
python-dotenv