# Banco de dados
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_DB=hmpcf

# pgAdmin
PGADMIN_EMAIL=admin@hmpcf.local
PGADMIN_PASSWORD=defina_uma_senha_forte
PGADMIN_PORT=5050

# Backend
BACKEND_PORT=8000
ENVIRONMENT=development
